<div *ngIf="employee">
  <div class="card" style="width: 18rem;">
    <img
      src="{{ employee.avatar }}"
      class="card-img-top"
      alt="{{ employee.last_name }}"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ employee.first_name }} {{ employee.last_name }}
      </h5>
      <div class="card-text">
        <strong>Email: </strong
        ><a href="mailto:{{ employee.email }}">{{ employee.email }}</a>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <a routerLink="/employees">Back to Employees Index</a>
  </div>

  <div class="mt-3">
    <em>{{ singleSpaProps.name }} using Angular</em>
  </div>
</div>

<div class="spinner-border" role="status" *ngIf="!employee">
  <span class="sr-only">Loading...</span>
</div>
